    <!DOCTYPE html>
<html>
 
    <head>
         <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="{{ asset('styles/main.css') }}" type="text/css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap" rel="stylesheet">
        {% block stylesheets %}
            
        {% endblock %}
        <title>Bienvenido!</title>



        {% block javascripts %}
        {% endblock %}
    </head>
    
    <body>
        {# <div class="c-nav">
            <div class="c-nav__home">
                <a class="c-nav__link" href="{{path('')}}"/>
                    <div>
                      <p>Inicio</p>
                    </div>
                </a>
            </div>

            <div class="c-nav__home">
                <a class="c-nav__link" href="{{path('')}}"/>
                    <div>
                      <p>Cervezas</p>
                    </div>
                </a>
            </div>

            <div class="c-nav__home">
                <a class="c-nav__link" href="{{path('')}}"/>
                    <div>
                      <p>Añadir</p>
                    </div>
                </a>
            </div>

            <div class="c-nav__home">
                <a class="c-nav__link" href="{{path('')}}"/>
                    <div>
                      <p>Valóranos!</p>
                    </div>
                </a>
            </div>
        </div> #}
        
        {% block body %}{% endblock %}   
            
        
    </body>
    
</html>