{% extends 'base.html.twig' %}

{% block body %}
    <h2>Listado de Cervezas </h2>
        {% for beer in beers %}
            <div>
                <div class="card" style="width: 18rem;">
                    <img src="{{ beer.image }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ beer.name }}</h5>
                        <p class="card-text">{{ beer.description }}</p>
                       

                    </div>
                </div>
            </div>
        {% endfor %}
{% endblock %}

{% block title %}Listado de Cervezas{% endblock %}