{% extends 'base.html.twig' %}

{% block body %}
   
    {{ form_start(beerForm) }}
        {{ form_widget(beerForm) }}
        <button type="submit">Añadir</button>
    {{ form_end(beerForm) }}
{% endblock %}

{% block stylesheets %}
<style type="text/css">
    color:red
</style>
{% endblock %}
